{
  "extends": [
    "eslint:recommended",
    "plugin:wc/recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "rtlLanguages": "readonly",
    "languages": "readonly",
    "generatedData": "readonly"
  },
  "rules": {
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "no-var": "error"
  }
}
