{
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "angular": true,
    "$": true,
    "_": true
  },
  "rules": {
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "no-var": "error"
  }
}
