name: Font Library
baseurl: /font-library
url: http://katydecorah.com
description: An open source project to tag and organize Google Fonts.
permalink: pretty
image:
github: https://github.com/katydecorah/font-library
contributing: https://github.com/katydecorah/font-library/blob/gh-pages/CONTRIBUTING.md

### The brains
# Used in head.html (gets the fonts)
# and index.html (outputs the data)
###
filter: |
  font in searchCount=( data |
  filter:{ tags: selectedTags, count:tagCount, variants:selectedVariants, subsets:selectedSubsets, category:selectedCategory, variantCount: (selectedVariantCount || undefined), fullVariant:(fullVariant || undefined) }:true | filter:search ) | orderBy: familySorter | startFrom: starter | limitTo:pageSize

angular: 1.6.1
jquery: 3.1.1
underscore: 1.8.3

port: 4000
host: 127.0.0.1

exclude:
- Gemfile
- Gemfile.lock
- .scss-lint.yml
- .travis.yml
- LICENSE
- README.md
- node_modules
- package.json
- test
- CONTRIBUTING.md
- scripts

sass:
  style: :compressed
