---
layout: default
tag: cursive
---

<aside class="sidebar">
	<!-- tag index -->
	<div class="tags">
		Sort by fonts that <label class="family-tag" ng-class="{active:tagCount === 0 }"><input ng-model="tagCount" type="checkbox" ng-true-value="0" ng-false-value="undefined" class="hide" ng-change="resetPagination(); removeTag()">Need tags</label>
		<hr>
		<button ng-repeat="(key,value) in uniqueTags()" class="family-tag" ng-class="{active: key == selectedTags}" name="tag" ng-model="selectedTags" value="[[key]]" ng-click="selectTag(key);">
			[[key]] <span class="tag-count">[[value]]</span>
		</button>
	</div>
</aside>

<main class="content">
	<!-- additional filter selects -->
	<div class="controls" ng-class="{ active: showDetails}">

		<select class="select-tags" ng-model="selectedTags" ng-change="resetPagination()">
			<option value="" selected disabled>tag</option>
			<option ng-selected="[[ key == selectedTags ]]" ng-repeat="(key,value) in uniqueTags()" value="[[key]]">[[key]]</option>
		</select>

		<select ng-model="selectedCategory" ng-show="uniqueCategory" ng-change="resetPagination();setSearch('category',selectedCategory)">
			<option value="" selected disabled>category</option>
			<option ng-selected="[[ key == selectedCategory ]]" ng-repeat="(key,value) in uniqueCategory()" value="[[key]]">[[key]]</option>
		</select>

		<select ng-model="selectedSubsets" ng-show="uniqueSubsets" ng-change="resetPagination();setSearch('subset',selectedSubsets)">
			<option value="" selected disabled>subset</option>
			<option ng-selected="[[ key == selectedSubsets ]]" ng-repeat="(key,value) in uniqueSubsets()" value="[[key]]">[[key]]</option>
		</select>

		<select ng-model="selectedVariants" ng-show="uniqueVariants" ng-change="resetPagination();setSearch('variant',selectedVariants)">
			<option value="" selected disabled>variant</option>
			<option ng-selected="[[ key == selectedVariants ]]" ng-repeat="(key,value) in uniqueVariants()" value="[[key]]">[[key]]</option>
		</select>

		<button ng-click="clearFilters();" class="btn btn-clear" ng-show="selectedTags || selectedCategory || selectedVariants || selectedSubsets">Clear</button>
	</div>

	<!-- advanced search -->
	<div class="control-container">
	<!-- order results -->
	<div class="btn-group">
		<button ng-class="{'active':selectedOrder === 'recent'}" class="btn" ng-click="selectedOrder = 'recent';order('-lastModified',false)">Recent</button><button data-title="older" ng-class="{'active':selectedOrder === 'older'}" class="btn" ng-click="selectedOrder = 'older';order('lastModified',false)">Older</button><button ng-class="{'active':selectedOrder === 'alpha'}" class="btn" ng-click="selectedOrder = 'alpha';order('family',false)">A-Z</button>
	</div>

	<div ng-model="settings" ng-class="{active:settings}" ng-click="showDetails =! showDetails; settings =! settings" class="btn-settings">{% include settings.svg %}</div>
</div>

	<!-- search indicator-->
	<div class="search-status" ng-class="{'no-results':!searchCount.length}">
		<span ng-show="searchCount.length == 0" class="ng-hide">Dang! Nothing</span>
		<span ng-hide="searchCount.length == 0">Found [[searchCount.length == 1 && searchCount.length + " font" || searchCount.length + " fonts"]]</span><span ng-show="selectedTags || selectedCategory || selectedVariants || selectedSubsets"> for </span><span class="family-tag active" ng-show="selectedTags" ng-click="removeTag()"> [[selectedTags]]</span><span class="family-tag active" ng-show="selectedCategory" ng-click=removeCategory()> [[selectedCategory]]</span><span class="family-tag active" ng-show="selectedVariants" ng-click="removeVariant()"> [[selectedVariants]]</span><span class="family-tag active" ng-show="selectedSubsets" ng-click="removeSubset()"> [[selectedSubsets]]</span>
		<span ng-show="tagCount === 0"> that <label class="family-tag active" ng-class="{active:tagCount === 0 }"><input ng-model="tagCount" type="checkbox" ng-true-value="0" ng-false-value="undefined" class="hide" ng-change="resetPagination(); removeTag()">Need tags</label></span>
	</div>

	<div class="families">
		<!-- individual font -->
		<div class="family" ng-repeat="font in searchCount=( data |
		filter:{ tags: selectedTags, count:tagCount, variants:selectedVariants, subsets:selectedSubsets, category:selectedCategory }:true ) | startFrom: (currentPage - 1) * pageSize | limitTo:pageSize">
		<!-- links to google font page -->
		<a ng-href="http://www.google.com/fonts#UsePlace:use/Collection:[[font.family.replace(' ','+')]]" class="family-link">
			<!-- builds the inline styles & displays font name -->
			<div class="family-title" style="font-family: '[[font.family]]';[[ (font.variants.indexOf('regular') < 0 && font.variants.indexOf('italic') >= 0) || selectedVariants.indexOf('italic') >= 0 && ' font-style: italic;' || '' ]][[ font.variants.indexOf('regular') < 0 && font.variants.indexOf('italic') < 0 && ' font-weight: '+font.variants[0]+';' || '' ]][[ (selectedVariants.indexOf('italic') < 0 && selectedVariants > 0) && 'font-weight: ' + selectedVariants + ';' || '' ]]">
				<!-- khmer sample text -->
				[[font.subsets.indexOf('latin') < 0 && font.subsets.indexOf('khmer') >= 0  && "ជំរាបសួរពិភពលោក " || '']]
				<!-- greek sample text -->
				[[font.subsets.indexOf('latin') < 0 && font.subsets.indexOf('greek') >= 0  && "γειά σου Κόσμε" || '']]
				<span class="family-name[[font.subsets.indexOf('latin') < 0 && ' family-no-latin'|| '']]">[[font.family]]</span>
			</div>
		</a>
		<!-- displays the font's tags -->
		<div class="family-tags">
			<label ng-repeat="tag in font.tags" class="family-tag" ng-class="{active: tag == selectedTags}">
				[[tag]]
				<input class="hide" type="checkbox" name="tag" ng-model="selectedTags" value="[[tag]]" ng-change="selectTag('[[tag]]')">
			</label>
			<!-- displays the font's variants and subsets -->
			<div class="family-meta" ng-show="font.variants">
				<span class="meta">[[font.category]]</span>
				|
				<span class="meta" data-title="[[font.variants.join(', ')]]">[[font.variants.length == 1 && font.variants.length + " variant" || font.variants.length + " variants"]]</span>
				|
				<span class="meta" data-title="[[font.subsets.join(', ')]]">[[font.subsets.length == 1 && font.subsets.length + " subset" || font.subsets.length + " subsets"]]</span>
			</div>
			<div class="float-right">
				<!-- link to the font's spec -->
				<a ng-href="https://www.google.com/fonts/specimen/[[font.family.replace(' ','+')]]" class="meta btn small quiet" target="_blank">Spec</a>
				<!-- link to line number -->
				<a ng-href="https://github.com/katydecorah/font-library/blob/gh-pages/families.json#L[[font.lineNumber]]" class="meta btn small quiet" target="_blank">Edit</a>
			</div>
		</div>
	</div>
</div>

<!-- pagination-->
<div class="pagination small" ng-show="(searchCount.length / pageSize) > 1">

	<button class="btn" ng-click="currentPage=currentPage-1; updateLocPage()" ng-hide="currentPage == 1">&larr;</button>

	<span  class="number-of-pages">[[currentPage]]/[[ searchCount.length / pageSize | ceil]]</span>

	<button class="btn" ng-click="currentPage = currentPage+1; updateLocPage()" ng-hide="currentPage == (searchCount.length / pageSize | ceil)">&rarr;</button>
</div>
</main>
