<!-- advanced search -->
<div class="control-container">
  <div class="btn-group">
    <div class="btn" ng-class="{'active':familySorter == 'family'|| familySorter == '-family'} ">
      <label ng-hide="familySorter == 'family'"><input type="radio" name="familySorter" ng-model="familySorter" value="family">A-Z <span ng-hide="familySorter == 'lastModified' || familySorter == '-lastModified'">↑</span></label>
      <label ng-hide="familySorter == '-family' || familySorter == 'lastModified' || familySorter == '-lastModified' "><input type="radio" name="familySorter" ng-model="familySorter" value="-family">A-Z ↓</label>
    </div><div class="btn" ng-class="{'active':familySorter == 'lastModified' || familySorter == '-lastModified'}">
      <label ng-hide="familySorter == '-lastModified'"><input type="radio" name="familySorter" ng-model="familySorter" value="-lastModified">Date <span ng-hide="familySorter == 'family' || familySorter == '-family'">↑</span></label>
      <label ng-hide="familySorter == 'lastModified' || familySorter == 'family' || familySorter == '-family'"><input type="radio" name="familySorter" ng-model="familySorter" value="lastModified">Date ↓</label>
    </div>
  </div>
</div>