<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{site.name}} | {{site.description}}</title>
<meta name="description" content="{{site.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@katydecorah">
<meta name="twitter:title" content="{{site.name}}">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:creator" content="@katydecorah">
<meta name="twitter:domain" content="{{site.url}}{{site.baseurl}}">

<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/{{site.fa}}/css/font-awesome.min.css">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/{{site.jquery}}/jquery.min.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/{{site.angular}}/angular.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="js/app.js"></script>
</head>
