<head ng-cloak>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>[[selectedTags && selectedTags + ' | ' || '']]{{site.name}} | {{site.description}}</title>
<meta name="description" content="{{site.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@katydecorah">
<meta name="twitter:title" content="{{site.name}}">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:creator" content="@katydecorah">
<meta name="twitter:domain" content="{{site.url}}{{site.baseurl}}">
<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
<!-- gets google font-->
<link ng-href="http://fonts.googleapis.com/css?family=[[font.family.replace(' ','+')]][[ font.variants.indexOf('regular') < 0 && font.variants.indexOf('italic') >= 0 && ':' + font.variants[0] || '' ]][[ font.variants.indexOf('regular') < 0 && font.variants.indexOf('italic') < 0 && ':'+font.variants[0] || '' ]][[ font.subsets.indexOf('latin') >=0 && '&text=' + font.family.replace(' ','+') || '']]"  rel="stylesheet" ng-repeat="font in searchCount=( data |
filter:{ tags: selectedTags, variants:selectedVariants, subsets:selectedSubsets, category:selectedCategory }:true ) | startFrom: (currentPage - 1) * pageSize | limitTo:pageSize">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/{{site.angular}}/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
