.btn {
  @extend %upper;

  @extend %round;

  @extend %tight;

  background: lighten($body-bg, 2%);
  border: 1px solid $accent;
  box-shadow: 0 0.1em darken($accent, 5%);
  color: $accent;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 1em;
  transition: background $transition;

  &.small {
    padding: 0.2em 0.5em;
  }

  &.quiet {
    border: 1px solid;
    box-shadow: none;
    color: rgba($accent, 0.25);
  }

  &:hover {
    @extend %flat-bg;

    color: lighten($accent, 10%);
    transition: background $transition;
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 0.1em;
  }

  &[disabled] {
    display: none;
  }

  &.active {
    background: $accent;
    color: $white;
  }

  input {
    display: none;
  }
}

.btn-group-inputs {
  display: block;
  margin-bottom: 1em;

  .btn {
    font-size: 0.7em;
  }
}

.btn-group {
  display: inline-block;

  .btn {
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7em;
    height: 21px;
    padding: 0;
    position: relative;
  }

  .btn:first-of-type {
    border-radius: 0.5em 0 0 0.5em;
    border-right: 0;
  }

  .btn:last-of-type {
    border-left: 0;
    border-radius: 0 0.5em 0.5em 0;
  }

  input {
    display: none;
  }

  label {
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1.25em;
  }
}

.btn-clear {
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 0.25em;

  @include breakpoint(medium-down) {
    display: block;
  }
}

.btn-github {
  margin: 0.5em 0;

  @include breakpoint(medium-up) {
    margin: 0 0 1em 1em;
  }
}

.btn-github-container {
  @include breakpoint(medium-down) {
    display: block;
  }
}
