
.family {
  margin-bottom: 1em;
}

.family-link {

  @extend %flat-bg;

  border-radius: .5em .5em 0 0;
  color: $text-color;
  display: block;
  padding: 1em 2em .5em;
  position: relative;

  &:hover {
    color: $accent;
  }

}

.family-title {
  color: inherit;
  font-size: 2em;
  line-height: 1.45;
  text-transform: none;
}

.family-tags {
  background: rgba($white, .5);
  border-radius: 0 0 .5em .5em;
  padding: .5em 2em;
}

.family-tag {

  @extend %small;

  @extend %lighten;

  @extend %upper;

  @extend %tight;

  @extend %round;

  background: transparent;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  margin-right: .25em;
  padding: .2em .5em;

  .sidebar & {
    margin-bottom: .25em;
  }

  &.active,
  &:hover {

    @extend %flat-bg;

    border-color: $selected-tag;
    color: $selected-tag;

  }

  &.active {
    cursor: default;
  }

}

.tag-count {
  color: lighten($text-color, 50%);
}
