
.family {

  @extend %fade;

  -webkit-animation: fade $transition * 4 forwards;
  animation: fade $transition * 4 forwards;
  margin-bottom: 1em;

  .cssanimations & { opacity: 0; }
}

@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.family-link {

  @extend %flat-bg;

  border-radius: .5em .5em 0 0;
  color: $text-color;
  display: block;
  padding: 1em 2em .5em;
  position: relative;

  @include breakpoint(medium) {
    padding: .5em 1em 0;
  }

  &:hover {
    color: $accent;
  }

}

.family-title {

  @extend %fade;

  color: inherit;
  font-size: 2em;
  line-height: 1.45;
  text-transform: none;

  @include breakpoint(medium) {
    font-size: 1.75em;
    height: 40px;
    overflow: hidden;
  }
}

.family-title-small {
  @extend %xsmall;

  @extend %lighten;

}

.language-rtl {
  direction: rtl;
}

.family-tags {

  @extend %clearfix;

  background: rgba($white, .5);
  border-radius: 0 0 .5em .5em;
  min-height: 30px;
  padding: .5em 2em;
  position: relative;

  @include breakpoint(medium) {
    padding: .5em 1em;

    .btn {
      display: none;
    }
  }

}

.family-meta {

  @extend %small;

  @extend %upper;

  @extend %tight;

  color: rgba($text-color, .35);
  position: absolute;
  right: 2.25em;
  text-align: right;
  top: -1.25em;

  @include breakpoint(medium) {
    display: none;
  }

}

.meta {
  position: relative;

  &[data-title]:hover {
    color: rgba($text-color, .25);
    cursor: help;

    &:before {
      border-color: transparent transparent $accent;
      border-style: solid;
      border-width: 5px;
      content: '';
      display: block;
      left: 48%;
      position: absolute;
      top: 77%;
    }

    &:after {
      background: $accent;
      border-radius: 5px;
      color: $white;
      content: attr(data-title);
      display: block;
      left: 0;
      padding: .5em;
      position: absolute;
      text-align: left;
      top: 140%;
      width: 200%;
      z-index: 100;
    }

  }
}

