.container {
  margin: 0 auto;
  padding: 0 1em;

  @include breakpoint(medium-up) {
    display: flex;
    grid-gap: 2em;
    padding: 0;
  }
}

header {
  background: $accent;
  border-bottom: 1px solid $body-bg;
  margin-bottom: 1em;
  padding: 0.25em 1em;
  display: flex;
  flex-direction: column;
  grid-gap: 3px;
  color: $white;
  justify-content: space-between;

  @include breakpoint(medium-up) {
    margin-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    flex-direction: row;
    align-items: center;
  }

  @include breakpoint(medium) {
    padding: 0.25em 0.75em 0.5em;
  }

  .title {
    @include breakpoint(medium-up) {
      display: flex;
      align-items: center;
      grid-gap: 1em;
    }
  }
}

.content {
  max-width: 40em;
  position: relative;
  flex-grow: 1;
  padding-right: 1em;

  @include breakpoint(medium-down) {
    padding: 0;
  }
}

.sidebar {
  @include breakpoint(medium-up) {
    background: $sidebar-bg;
    padding: 0 1em 2em;
    width: 35%;
    max-width: 450px;
  }

  @include breakpoint(medium-down) {
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }
}

.select-tags {
  @include breakpoint(medium-up) {
    display: none;
  }
}

.search-status {
  margin-bottom: 0.5em;
  margin-top: 1em;
  min-height: 26.5px;

  .family-tag {
    margin-left: 0.25em;
    margin-right: 0.25em;
    position: relative;
  }

  .family-tag:hover {
    color: $accent;
    cursor: pointer;
  }

  .family-tag:hover:after {
    content: "\00D7";
    font-size: 5em;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: -0.35em;
    width: 100%;
  }
}

.pagination {
  margin-bottom: 1em;
  display: flex;
  grid-gap: 0.5em;
}
