.container {

  @extend %clearfix;


  margin: 0 auto;
  max-width: $container-width;
  position: relative;

  @include breakpoint(medium) {
    padding: 0 1em;
  }
}


.content {
  max-width: 40em;
  padding-bottom: 5em;
  padding-top: 1em;

  @include breakpoint(medium-up) {
    float: right;
    width: 65%;
  }

}

.sidebar {
  background: rgba($white, .25);

  @include breakpoint(medium-up) {
    float: left;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 30%;
  }

}

.btn {
  background: none;
  border: 1px solid;
  border-radius: 1em;
  color: $accent;
  display: inline-block;
  padding: .25em 1em;

  &:hover {
    background: $white;
    color: lighten($accent, 10%);
  }

  &[disabled] { display: none; }
}

.pagination {
  margin: 2em 0 4em;
  text-align: center;

  .btn {
    cursor: pointer;
    font-size: 1.25em;
  }

}

.search-status {
  @extend %clearfix;

  margin-top: 1em;
}

.btn-github {
  margin-bottom: 1em;
}

.number-of-pages {
  color: $accent;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
