.loader-container {
  -webkit-align-items: center;
  align-items: center;
  bottom: 0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.loader {
  font-size: 100px;
  height: 1em;
  position: relative;
  width: 1em;
}

.ng-hide {
  .loader:before,
  .loader:after {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}

.loader:before,
.loader:after {
  -webkit-animation: spin 0.75s infinite;
  animation: spin 0.75s infinite;
  border-color: transparent;
  border-radius: 1em;
  border-style: double;
  border-width: 0.5em;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}

.loader:after {
  border-left-color: rgba($accent, 0.5);
  left: 0;
}

.loader:before {
  -webkit-animation-delay: -0.1875s;
  animation-delay: -0.1875s;
  border-right-color: rgba($accent, 0.5);
  right: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
