.preview-container {
  display: none;
  p { margin-bottom: 1.3em; }
  
  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.441em;
  }
  
  h2 {font-size: 1.953em;}
  
  h3 {font-size: 1.563em;}
  
  h4 {font-size: 1.25em;}
  
}