// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

html,
body,
div,
span,
h1,
p,
a,
small,
label,
aside,
main,
footer,
header {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
main,
footer,
header { display: block; }
