.search-status {
  @extend %lighten;

  @extend %clearfix;

  margin-bottom: .5em;
}

.family-search {
  border: 1px solid rgba($black, .1);
  border-radius: .2em;
  display: block;
  font-size: 1.25em;
  margin-bottom: 1em;
  padding: .2em;
  width: 100%;

  &:focus {
    color: rgba($text-color, .7);
    outline: none;
  }

}
