.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 9px;
}

.family-tag {
  @extend %lighten;

  background: transparent;
  font-size: 1em;
  cursor: pointer;

  border: 1px solid #e9e6d5;
  padding: 2px 7px;
  border-radius: 3px;
  border-left-width: 5px;
  border-bottom-width: 3px;
  border-bottom-color: #d6d2bc;

  &.active,
  &:has(:checked),
  &:hover {
    @extend %flat-bg;

    // @extend %fade;

    border-color: $selected-tag;
    color: $selected-tag;
  }

  &.active {
    cursor: default;
  }
}
