
.tag-heading {
  margin-bottom: 1em;
}

.tags-container {
  @extend %clearfix;
}

.family-tag {

  @extend %small;

  @extend %lighten;

  @extend %upper;

  @extend %tight;

  @extend %round;

  @extend %fade;

  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: .2em .3em;

  .sidebar & {
    margin-bottom: .25em;
    margin-right: .25em;
  }

  &.no-hash:before {
    display: none;
  }

  &:before {
    content: '#';
  }

  &.active,
  &:hover {

    @extend %flat-bg;

    @extend %fade;

    border-color: $selected-tag;
    color: $selected-tag;

  }

  &.active {
    cursor: default;
  }

}


.tag-count {
  color: lighten($text-color, 50%);
}

.tag-header {

  @extend %small;

  margin-bottom: .5em;
  padding: 0 .3em;

  input {
    display: none;
  }

  .tag-header-tag,
  .tag-header-count {
    display: inline-block;
  }

  label {
    cursor: pointer;
  }

  .tag-header-count {
    float: right;
  }

}
