*,
*:after,
*:before { box-sizing: border-box; }

body {

  @extend %upper;

  background: $body-bg;
  color: $text-color;
  font-family: $sans;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.45;
}

small,
.small,
%small { font-size: .85em; }

%xsmall { font-size: .6em; }

%upper { text-transform: uppercase; }

%tight {
  font-family: $sans;
  line-height: 1;
}

%round { border-radius: 1em; }

%flat-bg { background: $white; }

%lighten { color: lighten($text-color, 20%); }

%fade { transition: $transition; }

h2 {
  background: $white;
  font-size: 1em;
  padding: 0 .5em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 5%);
  }

}

::selection {
  background: $accent;
  color: $white;
  text-shadow: none;
}
