*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  // @extend %upper;

  background: $body-bg;
  color: $text-color;
  font-family: $sans;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.45;
}

h1 {
  font-size: 1.2em;
  margin: 0;
}

%xsmall {
  font-size: 0.6em;
}

%round {
  border-radius: 3px;
}

%flat-bg {
  background: $white;
}

%lighten {
  color: lighten($text-color, 20%);
}

%fade {
  transition: $transition;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    color: lighten($accent, 10%);
  }
}

::selection {
  background: $accent;
  color: $white;
  text-shadow: none;
}
