$text-color: #3a382c;
$body-bg: #f0eee7;
$header-bg: #2c3e50;
$sidebar-bg: #c5bfa0;
$search-bg: #34495e;
$accent: #db4053;
$white: #fff;
$black: #000;
$link-color: #8e44ad;
$sans: 'Helvetica Neue', 'Arial', sans-serif;
$container-width: 950px;

$font-size: 16px;

$selected-tag: #e5a52b;
$tag-bg: #bdc3c7;


%clearfix {
  clear: both;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.hide { display: none; }

.float-right { float: right;}

.float-left { float: left; }


@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: $container-width) { @content; }
  } @else if $point == medium {
    @media (max-width: $container-width + 30px) { @content; }
  } @else if $point == medium-up {
    @media (min-width: 800px) { @content; }
  }
}
